@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    background:white;
}
*{
    box-sizing: border-box;
    margin: 0;
    user-select:none;
    font-family: 'Lora', serif;
}
header{
    display: flex;
    border-bottom: 0.5px solid #666;
    box-shadow: 0 1px 3px #666;
    flex-flow: wrap row;
    justify-content: space-between;
}
header div.logo img{
    width: 200px;
    height: 80px;
    padding-bottom: 0;
}
li{
    margin: 0;
    padding: 0;
}
header div.catagory ul.parent{
    margin: 17px 0px;
    position: relative;
    cursor: pointer;
    color: #333;
    padding: 0;
}
header div.catagory ul.parent li{
    list-style-type: none;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 23px;
}
header div.catagory ul.parent li:hover{
    color: #19AEC2;
}
header div.catagory ul.parent li ul.child1{
    display:none;
    position: absolute;
    margin: 20px 0px 0px -12px;
    border: 1px solid #bbb;
    width: 200px;
    background-color: #fff;
    padding-bottom: 10px;
    padding: 0;
    border-radius: 5px;
    z-index: 10;
}
header div.catagory ul.parent li ul.child1 li{
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
}
header div.catagory ul.parent li ul.child1 li a{
    text-decoration: none;
    color: #000;
}
header div.catagory ul.parent li ul.child1 li:hover a, ul.child1 li:hover i{
    color: #19AEC2;
    font-weight: 700;
}
#last{
    display: inline-block;
    font-size: 0.7rem;
    float: right;
}
header div.catagory ul.parent li:hover ul.child1{
    display: block;
}
#search{
    width: 45%;
}
header div#search form input{
    padding: 7px 75px 7px 10px;
    margin: 20px 10px 15px 0;
    font-size: 17px;
    width: 90%;
    border: 1px solid #999;
    border-radius: 3px;
    outline: none;
}
div#search form input:focus{
    border: 1px solid #555
}
header div#search form button.searchIcon {
    padding: 6px 20px 7px 20px;
    margin-left: -73px;
    border-style: none;
    background-color: #888;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #fff;
}
header div#search form button.searchIcon:hover {
    background-color: #999;
}
header div.sign .login{
    margin: 20px;
    width: 100px;
    padding: 10px;
    height: 40px;
    background-color: #41d6c3;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
header div.sign .signup{
    width: 100px;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    background-color: #5596e6;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
}
header div.sign .login:hover{
    border: 1px solid #20ab98;
    font-size: 15px;
}
header div.sign .signup:hover{
    border: 1px solid #4984cc;
    font-size: 15px;
}
#index_header{
    width: 100%;
    position: relative;
}
#index_header img{
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
#overlay{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #41d6c333;
    height: 100%;
}
#index_header:hover #overlay{
    display: block;
}
#in_overlay{
    position: absolute;
    color: #999;
    width: 350px;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    border-radius: 5px;
    top: 15%;
    left: 10%;
}
#in_overlay h1{
    color: #444;
    padding-bottom: 20px;
}
#in_overlay p{
    text-align: justify;
    padding-bottom: 20px;
}
#in_overlay button{
    padding: 0.5rem 2rem;
    font-size: 1.05rem;
    background-color: #3d70b2;
    color: white;
    font-weight: bold;
    border: 1px solid #3d70b2;
    border-radius: 3px;
}
#in_overlay button:hover{
    border: 1px solid #32609b;
    cursor: pointer;
    font-size: 1.2rem;
}
#overlay img{
    width: 48%;
    float: right;
    padding: 2rem;
}
#title-mob{
    position: absolute;
    display: none;
    color: white;
    left: 10%;
}

@media screen and (max-width:1025px){
    #search{
        width: 50%;
    }
    #in_overlay{
        top: 10%;
    }
    #in_overlay h1{
        font-size: 1.5em;
    }
}
@media screen and (max-width:800px){
    #search{
        width: 45%;
        margin-left: 50px;
    }
    #in_overlay{
        top: 5%;
        left: 4%;
        padding: 2rem;
    }
    #in_overlay h1{
        font-size: 1.5em;
    }
}
@media screen and (max-width:714px){
    header div.catagory ul.parent li ul.child1{
        left: -45px;
    }
    #in_overlay{
        display: none;
    }
    #title-mob{
        display: block;
    }
    #overlay{
        display: block;
    }
}
/* @media screen and (max-width:750px){
    #search{
        width: 100%;
    }
} */
@media screen and (max-width:600px){
    #search{
        width: 95%;
    }
}
@media screen and (max-width:400px){

    #search{
        width: 95%;
        margin-left: 10px;
    }
    header div.logo img{
        width: 100%;
        height: auto;
    }
    header div.catagory ul.parent li ul.child1{
        left: 20px;
    }
}
