@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    background:white;
}
*{
    box-sizing: border-box;
    margin: 0;
    user-select:none;
    font-family: 'Lora', serif;
}
header{
    display: flex;
    border-bottom: 0.5px solid #666;
    box-shadow: 0 1px 3px #666;
    flex-flow: wrap row;
    justify-content: space-between;
}
header div.logo img{
    width: 200px;
    height: 80px;
    padding-bottom: 0;
}
li{
    margin: 0;
    padding: 0;
}
header div.catagory ul.parent{
    margin: 17px 0px;
    position: relative;
    cursor: pointer;
    color: #333;
}
header div.catagory ul.parent li{
    list-style-type: none;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 23px;
}
header div.catagory ul.parent li:hover{
    color: #19AEC2;
}
header div.catagory ul.parent li ul.child1{
    display:none;
    position: absolute;
    margin: 20px 0px 0px -12px;
    border: 1px solid #bbb;
    width: 200px;
    background-color: #fff;
    padding-bottom: 10px;
    padding: 0;
    border-radius: 5px;
}
header div.catagory ul.parent li ul.child1 li{
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
}
header div.catagory ul.parent li ul.child1 li a{
    text-decoration: none;
    color: #000;
}
header div.catagory ul.parent li ul.child1 li:hover a, ul.child1 li:hover i{
    color: #19AEC2;
    font-weight: 700;
}
header div.catagory ul.parent li:hover ul.child1{
    display: block;
}
#search{
    width: 45%;
}
header div#search form input{
    padding: 7px 75px 7px 10px;
    margin: 20px 10px 15px 0;
    font-size: 17px;
    width: 90%;
    border: 1px solid #999;
    border-radius: 3px;
    outline: none;
}
div#search form input:focus{
    border: 1px solid #555
}
header div#search form button.searchIcon {
    padding: 6px 20px 7px 20px;
    margin-left: -73px;
    border-style: none;
    background-color: #888;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #fff;
}
header div#search form button.searchIcon:hover {
    background-color: #999;
}
header div.sign .login{
    margin: 20px;
    width: 100px;
    padding: 10px;
    height: 40px;
    background-color: #41d6c3;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
header div.sign .signup{
    width: 100px;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    background-color: #5596e6;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
}
header div.sign .login:hover{
    border: 1px solid #20ab98;
    font-size: 15px;
}
header div.sign .signup:hover{
    border: 1px solid #4984cc;
    font-size: 15px;
}

@media screen and (max-width:1025px){
    #search{
        width: 50%;
    }
}
@media screen and (max-width:800px){
    #search{
        width: 45%;
        margin-left: 50px;
    }
}
@media screen and (max-width:714px){
    header div.catagory ul.parent li ul.child1{
        left: -45px;
    }
}
/* @media screen and (max-width:750px){
    #search{
        width: 100%;
    }
} */
@media screen and (max-width:600px){
    #search{
        width: 95%;
    }
}
@media screen and (max-width:400px){

    #search{
        width: 95%;
        margin-left: 10px;
    }
    header div.logo img{
        width: 100%;
        height: auto;
    }
    header div.catagory ul.parent li ul.child1{
        left: 20px;
    }
}