*{
    box-sizing: border-box;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
nav{
    display: flex;
    border-bottom: 0.5px solid #666;
    flex-wrap: wrap;
    justify-content: space-between;
}