*{
    box-sizing: border-box;
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
nav{
    display: flex;
    border-bottom: 0.5px solid #666;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.img{
    width: 14%;
}
div.img img{
    width: 100%;
}
div.sign .login{
    margin: 10px;
    width: 100px;
    padding: 10px;
    height: 40px;
    background-color: #41d6c3;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
div.sign .signup{
    width: 100px;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    background-color: #5596e6;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    margin: 10px;
    margin-left: 0;
    font-weight: bold;
}
div.sign .back{
    width: 140px;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    background-color: #32609b;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    margin: 10px;
    margin-left: 0;
    font-weight: bold;  
}
div.sign .login:hover{
    border: 1px solid #20ab98;
    font-size: 15px;
}
div.sign .signup:hover{
    border: 1px solid #4984cc;
    font-size: 15px;
}
div.sign .back:hover{
    border: 1px solid #3d70b2ee;
    font-size: 15px;
}
header{
    background-image: url(../images/pexels-photo-52599.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 80vh;
    margin: 2rem 0;
    transition: background 400ms ease-in-out;
}
header:hover{
    background-image: url(../images/city.jpg);
    object-fit: fill;
    background-position: center;
}
div.overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0004;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: grid;
    color: #fff;
    display: flex;
    flex-direction: column;
}
div.overlay-header:hover{
    background-color: transparent;
}
header h1{
    font-size: 2.5rem;
    margin-left: 10%;
}
.box{
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #0004;
    padding: 1rem;
}
.box h1{
    font-size: 2rem;
}