*{
    margin: 0;
}
nav{
    width: 100%;
}
div.first{
    display: flex;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav ul { list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: lightgray; }
nav ul li a { 
        display: block;
      color: black;
      text-align:center;
      padding:14px 16px;
      text-decoration: none; }
nav ul li a:hover { background-color: gray; }	
div.main{
    display: flex;
    flex-wrap: wrap;
}
div.header{
    width: 100%;
    position: relative;
    
}
div.header img{
    width: inherit ;
}
div.header div.tran{
    position: absolute;
    top: 0;
    width: 70%;
}
div.header div.tran h1 {
    background-color: #9999ff99;
    line-height: 1.8em;
}
div.header div.tran h1:hover{
    background-color: #cc99ffaa;
}
h1 , h2{
    background-color: #18aa84;
}
div.content{
    text-align: center;
    background-color: #ef5350;
}
div.content div.build{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
div.content div.build div.part{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
div.content div.build div img{
    width: 40%;
    height: 350px;
    border-radius: 5px;
}

div.content div.build div.part h2{
     color: white;
}
div.content div.build div.part div{
    background-color: #184e83;
    width: 56%;
    padding: 20px;
    color: white;
    font-size: 1.6em;
}
div.content div.build div.part div button{
    padding: 10px;
    color: white;
    background-color: #18aa84;
    width: 200px;
    margin: 10px;
    border-style: none;
}
div.content div.build div.part div button:hover{
    background-color: #ef5350;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;

}
@keyframes anime2 {
    from {background-color: #18aa84; font-size: 1.6em;   }
    to {background-color: #ef5350; width: 400px; font-size: 2em;}
}
@media screen and (max-width:1000px){
    div.content div.build div img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    div.content div.build div.part div{
        background-color: #184e83;
        width: 100%;
        padding: 20px;
        color: white;
        font-size: 1.6em;
    }
    div.header div.tran h1{
        font-size: 1.3em;
    }
}
@media screen and (max-width:700px){
    div.content div.build div img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    div.content div.build div.part div{
        background-color: #184e83;
        width: 100%;
        padding: 20px;
        color: white;
        font-size: 1.1em;
    }
    div.header div.tran h1{
        font-size: 1.1em;
    }
}
@media screen and (max-width:550px){
    div.content div.build div img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    div.content div.build div.part div{
        background-color: #184e83;
        width: 100%;
        padding: 20px;
        color: white;
        font-size: 1em;
    }
    div.header div.tran h1{
        font-size: 1em;
    }
    div.header div.tran{
        position: absolute;
        top: 0;
        width: 80%;
    }
}
@media screen and (max-width:400px){
    nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    div.first{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}