@font-face{
    font-family: font;
    src: url(../font/Lato-Regular.ttf);
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: font;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    text-align: center;
    padding: 20px;
    background-color: #18aa84;
    line-height: 1.8em;
}
header .location button{
    padding: 15px;
    width: 125px;
    border: none;
    background-color: #184e83;
    color: whitesmoke;
}
header .location button:hover{
    background-color: #ef5350;
}
article{
    width: 100%;
    padding: 20px;
}
article div{
    width: 80%;
    margin: auto;
    padding: 2%;
}
div.contact{
    padding: 20px;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}
div.logo{
    width: 80%;
    margin: auto;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}
div.logo a{
    font-family: font;
    text-decoration: none;
    color: #800020;
    font-weight: bold;
}
div.logo a i{
    padding: 10px;
    color: #800020;
    font-weight: bold;
    margin: 5px;
}
div.logo a i:hover{
    color: #18aa84;
}
div.logo a:hover{
    color: #18aa84;
    background-color: #fafafa;
}
div.contact2{
    padding: 20px;
    width: 100%;
    text-align: center;
}
div.logo2{
    width: 80%;
    margin: auto;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}
div.logo2 a{
    padding: 10px;
    color: #800020;
    font-weight: bold;
    text-decoration: none;
    margin: 5px;
}
div.logo2 a i:hover{
    color: #18aa84;
}
div.logo2 a:hover{
    color: #18aa84;
    background-color: #fafafa;
}
div.contact2 h2{
    font-size: 1em;
    background-color: #18aa84;
}
div.location2{
    width: 100%;
}
div.location2 div.cover h2#he{
    background-color: #18aa84;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 5px;
}
div.location2 div.cover{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
div.location2 div.cover div{
    color: #7a7a7a;
}
div.location2 div.cover div h3{
    background-color: #18aa84;
    color: black;
}
div.location2 div.cover div{
    line-height: 1.8em;
    padding: 5px;
    margin: 10px;
}
div.location2 div.cover div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media screen and (max-width:350px){
    div.location2 div.cover h2#he{
        background-color: #18aa84;
        writing-mode: horizontal-tb;
        text-orientation: upright;
        padding: 5px;
        width: 100%;
    }
}