@font-face{
    font-family: font;
    src: url(../font/Lato-Regular.ttf);
}
*{
    margin: 0;
    box-sizing: border-box;
    line-height: 1.8em;
    text-indent: 1em;
    font-family: font;
    font-size: 1.02em;
}
body{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
br{
    line-height:0;
}
div.header{
    grid-column: 1/3;
}
div.article{
    grid-column: 1/3;
}
h1 , h2{
    color: #fff;
    background-color: #18aa84;
    line-height: 1.8em;
}
div.article div.example {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    line-height: 1em;
    box-shadow: 1px 2px 4px gray;
}
span.doctype{
    color: #ef5350;
    font-weight: bold;
}
span.tag {
    color: #ededed;
    text-indent: 2em;
}
button{
    background-color: #18aa84;
    padding: 5px ;
    width: 220px;
}
div.frame iframe{
    width: 100%;
    height: 420px;
}

